* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

html {
    font-size: 62.5%;
    font-family: "Inconsolata", monospace;
}

body {
    background-color: black;
}

.background-images {
    width: 100%;
    height: 100%;
    min-width: 35rem;
    min-height: 35rem;
    position: fixed;
    z-index: -1;
    background-image:url(/assets/images/background-mobile.png);
    background-size: 100% 100%;
}

.background-svgs {
    display: flex;
    height: 100%;
    width: 100%;
}

.lines {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    top: -100px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

/* ---------- HEADER ---------- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-img-div {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-img {
    width: 170px;
    margin-left: 15px;
}

.header-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.header-text {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 400;
    color: lightgray;
    margin-bottom: 2.5rem;
}

/* ---------- MAIN ---------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.upload-container {
    border: 1.5px dashed hsl(246, 15.00%, 58.00%);
    border-radius: 6px;
    background-color: rgba(75, 72, 106, 30%);
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.upload-input {
    display: none;
}

.upload-header {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    align-self: start;
}

.upload-img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgba(75, 72, 106, 50%);
    border: 1px solid hsl(245, 19.10%, 34.90%);
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: hsl(252, 6%, 83%);
}

.upload-footer {
    display: flex;
    align-self: start;
    margin-top: 5px;
    margin-bottom: 10px;
}

.upload-footer svg {
    margin-right: .5rem;
}
 
.upload-footer p {
    color: hsl(252, 6%, 83%);
}
/* ---------- INPUTS ---------- */

.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.input-fields li {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.text-field {
    border: 1px solid hsl(246, 15.00%, 58.00%);
    appearance: none;
    padding: 10px;
    background: rgba(75, 72, 106, 30%);
    border-radius: 6px;
    height: 3.5rem;
    outline: none;
}

.name-field p, .email-field p, .github-field p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn {
    height: 3.5rem;
    background-color: #e16151;
    border: 2px solid #e16151;
    border-radius: 6px;
    color: #0c082b;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 100px;
}